// title, text and etc
$title-color: #1b4332;
$subtitle-color: #2d6a4f;

// buttons colors
$dark-btn: #1b4332;
$dark-btn-stroke: #40916c;
$light-btn: #d8f3dc;
$light-btn-stroke: #40916c;
$dark-text-btn: #1b4332;
$light-text-btn: #d8f3dc;

// blocks, containers, cards and etc
$container-color: #b7e4c7;
